.header-container {
    width: 1349px;
    height: 657px;
    margin: 0 auto;
    background-image: url('../img/header-bg.png');
}

/* Burger menu opener */
.burger-opener {
    position: relative;
    width: 30px; 
    height: 8px;
    display: block;
    margin-left: 25px;
    top:20px;
}

.burger-opener span, .burger-opener::before, .burger-opener::after{
    height: 2px;
    width: 100%;
    position: absolute;
    background: #fff;
    margin: 0 auto;
}

.burger-opener::before, .burger-opener::after {
    content: '';
}

.burger-opener:after {
    top: 7px;
}